#projectView {
  &.Project {
    margin: 5vh auto;
    // height: 60vh;
    width: 75vw;
    max-height: 60vh;
    // max-width: 960px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: left;
    padding: 1em;
  }
}
