#ceiling {
  &.Ceiling {
    background-color: rgb(255,254,250);
    background-image: url('../../Assets/images/ceiling_bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 15vh;
  }
}
