#ceiling {
  &.Ceiling {
    background-color: rgb(255,254,250);
    background-image: url('../../Assets/images/ceiling_bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 15vh;
  }
  .homeBtn {
    display: block;
    position: fixed;
    right: 0;
    top: 4vh;
    height: 15vh;
  }
}
