#submitForm {
  &.Form {
    margin: 5vh auto;
    height: 60vh;
    width: 90vw;
    max-width: 960px;
    overflow-y: scroll;
    text-align: left;
  }

  .formHeader {
    text-align: center;
    font-size: 200%;
  }
  .formBody {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    input, .inputMatch {
      font-size: 150%;
    }
    select {
      font-size: 150%;
    }
  }
  .formInput {
    width: 100%;
    &.radioGroup {
      padding-top: 10px;
    }
  }
  #fileSelectInput, #fileSelectButton {
    padding-top: 5px;
    width: 50% !important;
    float: left;
  }

  .uploadedImage {
    height: auto;
    width: 100%; 
  }
}
#submitButton {
  margin: 0 auto;
}