#caseView {
  &.Case {
    margin: 5vh auto;
    width: 75vw;
    max-height: 60vh;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: left;
    padding: 1em;
  }
  
  .GridView{
    max-height: 60vh;
  }

  .GridPaper{
    border-radius: 15px;
  }

  .individualGridView{
    max-width: 20vw;
  }
}

.IndividualProject {
  border: 1px solid black;
  background-color: #5e5e5e;
  border-radius: 15px;
  width: 18vw;
  max-width: 18vw;
  height: 25vh;
}
