#appNav .cartTotal {
  font-size: 200%;
}
#appNav .strong {
  font-weight: bold;
}

#appNav h2.headerTitle {
  flex-grow: 1;
  font-family: 'Blackout Two AM' !important;
  font-size: clamp(16pt, 4vw, 21pt);
  margin-top: clamp(-13.33pt, -2.66vw, -10.66px);
  white-space: nowrap;
}


#appNav a:visited h2.headerTitle, #appNav a:link h2.headerTitle
{
  color: black !important;
}
